.p{
    width: 30%;
    height: 20vh;
    margin: 20px 10px;
    border: 2px solid;
    overflow: hidden;
}

.p-img{
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img{
    transform: translateY(-100%);
}